.panel {
  display: flex;
  flex: 1;
  flex-direction: start;
  justify-content: start;
}

.content {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  padding: var(--spacing-xxl);
  max-width: 628px;
}
