:root {
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 24px;
  --spacing-xxl: 32px;

  --color-primary: #1967d2;
  --color-danger: #eb3c3c;
  --color-white: #ffffff;
  --color-gray-100: #fcfcfc;
  --color-gray-200: #d9d9d9;
  --color-gray-300: #5a5a5a;
  --color-gray-400: #1e1e1e;

  --font-family-sans-serif: 'Poppins', Helvetica, Arial, sans-serif;
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --line-height-base: 1.5;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  display: flex;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: start;
  background-color: var(--color-gray-100);
}

body,
button,
textarea {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-medium);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
